{% extends 'base_list.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block page_title %}
{{ page_title }} List
{% endblock %}


<!--
TODO: add pagination for more than 10 search result
TODO: edit table css
TODO: add register patient button link
-->

{% block top_add_link %}
<div class="col-xs-3">
</div>
{% endblock %}

{% block page_sub_panel %}
<div class="spacer-y-small">
{% crispy form %}
</div>
{% if searches %}
<table class="spacer-y-small table table-responsive table-bordered table-hover">
    <thead>
    <tr>
        <th>ID</th>
        <th>Patient</th>
        <th>Encoder</th>
        <th>Recorded Date</th>
    </tr>
    </thead>
    <tbody>
    {% for record in searches %}
    <tr data-href="{{ record.get_absolute_url }}">
        <td scope="row">{{ record.id }}</td>
        <td>{{ record.patient }}</td>
        <td>{{ record.recorded_by }}</td>
        <td>{{ record.recorded_date }}</td>
    </tr>
    {% empty %}
    {% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-danger">
    {{ error_message }}
</div>
{% endif %}
{% endblock %}

{% block bottom_add_link %}
<div class="col-xs-3">
</div>
{% endblock %}