{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block page_title %}
Dashboard - Home
{% endblock %}


{% block page_panel %}
<script src="{% static 'custom/js/dashboard.js' %}"></script>
<div class="col-xs-12 col-md-12 col-lg-offset-3 col-lg-6">
    {% if success_message %}
    <div class="alert alert-success">
        {{ success_message }}
    </div>
    {% elif error_message %}
    <div class="alert alert-danger">
        {{ error_message }}
    </div>
    {% endif %}

    {% crispy form %}

    {% block page_sub_panel %}
    <ul class="nav nav-pills nav-stacked spacer-y-medium">
        {% for icon, label in icons_labels_zip %}
        {% if forloop.counter == search_category %}
        <li role="presentation" class="text-center active disabled">
            <a href="#">
        {% else %}
        <li role="presentation" class="text-center">
            <a href="{{ link }}?search_category={{ forloop.counter }}">
        {% endif %}
                <i class="fa {{ icon }} fa-fw fa-1x"></i>
                &nbsp;Search {{ label }}
            </a>
        </li>
        {% endfor %}
        <li role="presentation" class="text-center" style="margin-top:10em">
            <a href="{% url 'opd:record_patient' %}">
                <i class="fa fa-plus fa-fw fa-1x"></i>
                &nbsp;Register Patient
            </a>
        </li>
    </ul>
    {% endblock %}
</div>
{% endblock %}