{% extends 'base_list.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block page_title %}
{{ page_title }} List - {{ patient }}
{% endblock %}

<!--

-->
{% block nav_links %}
<nav>
    <ul class="pager">
        <li class="pull-left row-fluid vertical-center">
            <a href="{{ left_link }}">
                <i class="fa fa-1x {{ left_link_icon }}"></i>
                &nbsp;
                {{ left_link_name }}
            </a>
        </li>
        <li class="pull-right">
            <a href="{{ right_link }}">
                <i class="fa fa-1x {{ right_link_icon }}"></i>
                &nbsp;
                {{ right_link_name }}
            </a>
        </li>
    </ul>
</nav>
{% endblock %}

{% block top_add_link %}
<div class="col-xs-3">
    <a href="{{ add_link }}" role="button"
       class="btn btn-primary pull-right" name="top">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add
    </a>
</div>
{% endblock %}

{% block patient %}
<div class="row-fluid vertical-center">
    <h5 class="col-xs-6 pull-left">Patient Name:</h5>
    <h5 class="col-xs-6">
        <a class="pull-right" href="{{ patient.get_absolute_url }}">{{ patient }}</a>
    </h5>
</div>
{% endblock %}

{% block page_sub_panel %}
<table class="spacer-y-small table table-responsive table-bordered table-hover">
    <thead>
    <tr>
        <th>ID</th>
        <th>Encoder</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody>
    {% for medical_record in medical_records %}
    <tr data-href="{{ medical_record.get_absolute_url }}">
        <td scope="row">{{ medical_record.id }}</td>
        <td>{{ medical_record.recorded_by }}</td>
        <td>{{ medical_record.recorded_date }}</td>
    </tr>
    {% empty %}
    {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block bottom_add_link %}
<div class="col-xs-3">
    <a href="{{ add_link }}" role="button"
       class="btn btn-primary pull-right" name="bottom">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add
    </a>
</div>
{% endblock %}