{% extends 'base_list.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block page_title %}
{{ page_title }} List
{% endblock %}


{% block nav_links %}
{% endblock %}


{% block top_add_link %}
<div class="col-xs-3">
</div>
{% endblock %}

{% block patient %}
{% endblock %}

{% block page_sub_panel %}
<div class="spacer-y-small">
    {% crispy form %}
</div>
{% if searches %}
<table class="spacer-y-small table table-responsive table-bordered table-hover">
    <thead>
    <tr>
        <th>ID</th>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Birth Date</th>
    </tr>
    </thead>
    <tbody>
    {% for patient in searches %}
    <tr data-href="{{ patient.get_absolute_url }}">
        <td scope="row">{{ patient.id }}</td>
        <td>{{ patient.last_name }}</td>
        <td>{{ patient.first_name }}</td>
        <td>{{ patient.birth_date }}</td>
    </tr>
    {% empty %}
    {% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-danger">
    {{ error_message }}
</div>
{% endif %}
{% endblock %}

{% block bottom_add_link %}
<div class="col-xs-3">
</div>
{% endblock %}